!!!
%html
  %head
    %title Generated Test
    %meta{"http-equiv"=>"content-type", "content"=>"text/html; charset=utf-8"}
    %link{:type=>"text/css", :rel=>"stylesheet", :href=>"JSSpec.css"}
    %script{:type=>"text/javascript", :src=>"diff_match_patch.js"}
    %script{:type=>"text/javascript", :src=>"JSSpec.js"}
  %body
    %script{:type=>"text/javascript"}
      ==// <![CDATA[
      = test
      ==// ]]>
  